extends layout

block content
  include partials/navbar
  div.container
    div.list.page.row
      table.u-full-width
        thead
            tr
              th Question
              th Total Vote
              th Create Date
            tbody
              each poll in pollList
                tr
                    td= poll.question
                    td= poll.totalVote
                    td= poll.createdAt


