.navbar-wrapper
  .container
    .navbar
      a(href=DOMAIN)
        include logo
      
      a(href=isCreatePage ? DOMAIN : `${DOMAIN}/create`)
        button(class="button button-primary")=isCreatePage ? 'Go to Home' : 'Create a Poll'
