.navbar-wrapper
  .container
    .navbar
      a(href=DOMAIN)
        img(src="/images/logo.png", alt="Pollermo logo", class="logo")
      
      a(href=`${DOMAIN}/poll/create`)
        button(class="button button-primary") Creaet a Poll
