.no-result
  h3 There is No Result
  img(src=`${CDN}/images/no_data.png`, alt="No Data")
  p We can't find any poll for your search
  a(href=`${DOMAIN}/poll/create`, class="bold-link") Create your own poll
