mixin poll_properties({ createdAt, dupcheck, ipDupCheckTitle, captcha, multi })
  .poll-properties
    .left
      div.prop
        i(data-feather="calendar")
        span= createdAt
      if multi
        div.prop
          i(data-feather="square")
          span Multiple poll answer
    .right
      div.prop
        span= ipDupCheckTitle
        i(data-feather=`${dupcheck === '3' ? 'unlock' : 'lock'}`)
      if captcha
        div.prop
          span Spam prevention
          i(data-feather="shield")
