extends layout

block content
  include partials/navbar
  div.container
    div.list.page.row
      if (polls.length > 0)
        table.u-full-width
          thead
              tr
                th Question
                th.meta-colum Total Vote
                th.meta-colum Create Date
              tbody
                each poll in polls
                  tr
                    td.question-column 
                      a(href=`${DOMAIN}/poll/${poll.slug}`)= poll.question
                    td.meta-column= poll.totalVote
                    td.meta-column.date(data-date= poll.createdAt)
        include partials/pagination
      else
        include partials/no_result
